* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    
}
.side-a{
    flex: 1 0 auto;
    
}

.side-b {
    flex: 1 0 auto;
}


.middle {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.menu {
    height: 70%;
    flex: 1 0 auto;
    
}

.footer {
    flex: 2 0 auto;
}

.intro-content {
    display:flex;
    flex-direction: row;

}
#intro {
    width: 25%;
    
}